<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/navbar}"
>
<div layout:fragment="main_section">

    <div class="container-fluid" th:each="ad : ${adverts}">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${ad.title}"></h5>
                <p class="card-text" th:text="${ad.price}" тг.></p>
                <a th:href="@{adverts/{id}(id=${ad.id}) }" class="btn btn-outline-primary">More...</a>
            </div>
        </div>
    </div>
    <a class="btn btn-outline-info" th:href="@{adverts}">Watch more...</a>

</div>